<header class="container-fluid px-0">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e8f0fe;">
      <a class="navbar-brand" href="/inkwi">ЭВМ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          {{mainMenu}}
          {{avatar}}
      </div>
    </nav>
  </header>