<config>
  <param id="mode">login</param> <!-- maintenance / login / redirect  -->
  <param id="redirect">http://portal.xn--c1aanjfqbbeiac2ah1a.xn--p1ai/promis</param>
  
  <param id="host">http://localhost:9984</param>
  <param id="authHost">http://portal.titul24.ru</param>
  <param id="dataEndPoint">http://localhost:9984/zapolnititul/api/v2/user</param>
  <param id="accessID">21</param>
  <param id="login">promis2019@yandex.ru</param>
  <param id="password">Ivanovo2019</param>
  <param id="logDir">C:\Program Files (x86)\BaseX\webapp\promis\logs\</param>
  <param id="defaultAvatarURL">https://www.youthopiabangla.org/upload/users/1489893347avatar.jpg</param>
</config>